@charset "utf-8";

.header{
    background-color: #FF7E00;
    color: white;
	font-family: 'Dosis', sans-serif;
    text-align:center;
    padding:10px;
    top: 0;
    left: 0;
    width: 100%;
}
.h1{
	font-family: 'Dosis', sans-serif;
}
.body p{
	font-family: 'Dosis', sans-serif;
	color: #000000;
}
.header{
	font-family: 'Dosis', sans-serif;
	color: #000000
}
.container{
	position: fixed;
	width: 100%;
	background-color: #FFAB59;
	color: black;
	text-align: center;
	padding: 30px;
}
.container-buttom-191503{
    background-color: #FF7E00;
    color: white;
	font-family: 'Dosis', sans-serif;
    text-align:center;
    padding:10px;
    top: 0;
    left: 0;
    width: 100%;
}
.aside {
	font-family: 'Dosis', sans-serif; 
	color: #000000;
    border: 2px solid #FFCD7C;
	padding: 40px;
	margin-left: 25px;
	width: 42%;
	float: left;
}
.section {
	font-family: 'Dosis', sans-serif; 
	color: #636979;
    border: 2px solid #FFCD7C;
	padding: 40px;
	margin-left: 25px;
	margin-bottom: 200px;
	width: 42%;
	float: right;
}
.jumbotron jumbotron-fluid{
	font-family: 'Dosis', sans-serif;
	color: #000000
}
.my-container-footer {
	font-family: 'Dosis', sans-serif;
	color: #000000
}
.footer {
	font-family: 'Dosis', sans-serif;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #FFCD7C;
	color: white;
	text-align: center;
	padding: 30px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #FFCD7C;
	color: white;
	text-align: center;
	padding: 30px;
}

.header{
    background-color: #FF7E00;
    color: white;
	font-family: 'Dosis', sans-serif;
    text-align:center;
    padding:10px;
    top: 0;
    left: 0;
    width: 100%;
}
.h1{
	font-family: 'Dosis', sans-serif;
}
.body p{
	font-family: 'Dosis', sans-serif;
	color: #000000;
}
.header{
	font-family: 'Dosis', sans-serif;
	color: #000000
}
.container{
	position: fixed;
	width: 100%;
	background-color: #FFAB59;
	color: black;
	text-align: center;
	padding: 30px;
}
.container-buttom-191503{
    background-color: #FF7E00;
    color: white;
	font-family: 'Dosis', sans-serif;
    text-align:center;
    padding:10px;
    top: 0;
    left: 0;
    width: 100%;
}
.aside {
	font-family: 'Dosis', sans-serif; 
	color: #000000;
    border: 2px solid #FFCD7C;
	padding: 40px;
	margin-left: 25px;
	width: 42%;
	float: left;
}

.section {
	font-family: 'Dosis', sans-serif; 
	color: #636979;
    border: 2px solid #FFCD7C;
	padding: 40px;
	margin-left: 25px;
	margin-bottom: 200px;
	width: 42%;
	float: right;
}

.jumbotron jumbotron-fluid{
	font-family: 'Dosis', sans-serif;
	color: #000000
}

.my-container-footer {
	font-family: 'Dosis', sans-serif;
	color: #000000
}
